@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app {
  width: 600px;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.app button {
  background-color: rebeccapurple;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.app button:active {
  transform: scale(0.97);
}
app.button:focus {
  outline: none;
}